.leftPane-container {
  flex: 0.18;
  height: 100vh;
  overflow-y: scroll;
  margin-right: 2rem;
  border-right: solid 1px rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
.leftPane {
  background-color: #323542;
  height: 105vh;
}
.leftPane--top {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid lightgray;
}
.leftPane--top > a > img {
  width: 90%;
  padding-left: 2rem;
  border-bottom: 4rem;
}
.leftPane--bottom {
  padding-top: 24px;
}
.leftPane--footer {
  background-color: #323542;
  padding: 3.2rem;
  color: white;
  font-size: 1.6rem;
  border-top: 1px solid gray;
}
